.footer .wrapper {
    padding: 40px;
    text-align: center;

    h2 span {
        font-size: var(--font-size-h2);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
    }

    .icon {
        color: var(--color-secondary);
    }
}
