.footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

    h2 span {
        font-size: var(--font-size-h2);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
    }

    .icon {
        color: var(--color-secondary);
    }
}
