.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);

    a {
        margin: 0;
        color: var(--color-white);
    }
}
