.hero {
    padding: 80px 0;
    position: relative;

    .wrapper {
        min-height: 80vh;
    }
}

.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 110px;

    h1 {
        margin-bottom: 80px;
    }
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
