/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
span {
    font-family: var(--font-primary);
    line-height: 150%;
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    color: var(--color-primary);
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-primary);
    margin: 0;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

span {
    font-size: var(--font-size-span);
    font-weight: 300;
    color: var(--color-secondary);
}
