{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="image cahier" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            <span>Mes premier</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem01.png" alt="Un beauuuuuu labbbboooooo" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        <span>Ce projet capture l’essence même des</span>
                        vacances : liberté, détente et plaisir simple sous le soleil d’Hawaï.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem01/">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem02.png" alt="Un beauuuuuu labbbboooooo" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        <span>TIM Cade est un espace pensé pour rassembler la communauté étudiante.</span>
                        Entre bornes rétro, tournois amicaux et activités sociales.
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem02/">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem03.png" alt="Un beauuuuuu labbbboooooo" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>

                    <p>
                        <span>Un site portfolio moderne présentant les services</span>
                        d’une développeuse web. L’interface met en avant une identité visuelle forte.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem03/">Voir le laboratoire</a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/sem04.png" alt="Un beauuuuuu labbbboooooo" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        <span>Une mini-application web permettant de</span>
                        sélectionner dynamiquement un nom parmi plusieurs boutons.
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_orange">
    <div class="wrapper">
        <h2>
            <span>Mes</span>
            laboratoires réactifs
        </h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/sem07.png" alt="Un beauuuuuu labbbboooooo" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            <span>Une page démonstrative mettant en valeur la typographie et l’interactivité. Un bouton permet d’agrandir</span>
                            les titres et le texte grâce à la manipulation du DOM.
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn-white button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/sem07.png" alt="Un beauuuuuu labbbboooooo" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            <span>Une page démonstrative mettant en valeur la typographie et l’interactivité. Un bouton permet d’agrandir</span>
                            les titres et le texte grâce à la manipulation du DOM.
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn-white button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/sem07.png" alt="Un beauuuuuu labbbboooooo" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            <span>Une page démonstrative mettant en valeur la typographie et l’interactivité. Un bouton permet d’agrandir</span>
                            les titres et le texte grâce à la manipulation du DOM.
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn-white button" target="_blank" href="https://ogeorges.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
